<!DOCTYPE HTML>
<html>

<head>
<title>wlit</title>
<style>
    .add{

        height: 20px;
        width: 250px;
    }
    .add1{

        height: 400px;
        width: 280px;
    }
        

</style>
</head>


<body align="center" size="500px;" style="background:url(https://www.osv.com/Portals/4/EasyDNNnews/23720/23720hands.jpg);  background-size: 100% 150%;">
    <h1 align="center">Share your stories here</h1>

<form method="post" action="/addstories">
Title:<br/><input class=add type="text" name='title' id="textinput1" placeholder="title" /><br/><br/>
Story:<br/><textarea class="add1" name='story'>write your story</textarea>

<button id="myButton" type="submit">post</button><br/></a>
</form>
</body>


</html>

