<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	h1{font-size: 500%; text-align: center;}
    	p{font-size: 150%; text-align: center;}
    	


    </style>


  </head>
  <body style="background:url(https://www.osv.com/Portals/4/EasyDNNnews/23720/23720hands.jpg);  background-size: 100% 200%;">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Write your own stories and share it!!!</p>
  </body>
</html>
