<!DOCTYPE HTML>
<html>

<head>
<title>Sign up</title>
</head>


<body>
<form method="post" action="/signup">
username: <input type="text" name='username' id="nameinput"/><br/>
password: <input type="password" name='password' id="passwordinput"/><br/>
confirm password: <input type="password" name='confirmpassword' id="conpassword"/><br/>
<button id="myButton" type="submit">signup</button><br/>

</form>



</body>


</html>

